* {
    margin: 0;
}

body {
    background-color: #e0def4;
}

button {
    font-size: 1rem;
    text-align: center;
}

.sidebar {
    display: flex;
    justify-content: center;
    background-color: #31748f;
    color: #e0def4;
    border-radius: 0px 25px 25px 0px;
    padding: 5%;
}

.mainButton {
    background-color: transparent;
    padding: 2.5%;
}

nav ul {
    gap: 2rem;
    list-style-type: none;
    font-family: roboto;
}

.topBar {
    display: flex;
    justify-content: right;
    padding: 2.5%;
    background-color: #26233a;
}

.topLink {
    background-color: #f6c177;
    border-radius: 25px;
    padding-top: 0.875%;
    padding-bottom: 0.875%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.screen {
    display: flex;
    height: 100rem;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100rem;
    width: 100%;
}

.seperator {
    display: flex;
    height: 100rem;
    width: 15%;
}

#menuButtons {
    padding-top: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#collapse {
    display: flex;
    justify-content: right;
    padding-right: 2.5%;
}

#noteList {
    display: flex;
    justify-content: left;
    padding-top: 25%;
}

#rowOne {
    width: 100%;
    background-color: #31748f;
}

#rowTwo {
    display: flex;
    justify-content: center;
    height: 20rem;
    margin-top: 5rem;
}

#rowThree {
    display: flex;
    justify-content: center;
    height: inherit;
    margin-top: 5rem;
}

.bottomBar {
    display: flex;
    justify-content: center;
    background-color: #f6c177;
}

.footer {
    margin-top: auto;
}

a:any-link {
    color: #31748f;
}

a:visited {
    color: #26233a;
}

a:hover {
    color: #c4a7e7;
    text-decoration-line: none;
}

@media screen and (max-width: 600px) {
    .screen {
        display: flex;
        flex-direction: column-reverse;
    }
}