* {
    margin: 0;
}

body {
    background-color: #e0def4;
}

button {
    font-size: 1rem;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    justify-content: center;
    background-color: #31748f;
    color: #e0def4;
    border-radius: 0px 25px 25px 0px;
    padding: 5%;
}

.mainButton {
    background-color: transparent;
    width: 150%;
    margin-left: 75%;
    margin-top: 50%;
    padding: 2.5%;
}

nav ul {
    gap: 2rem;
    list-style-type: none;
    font-family: roboto;
}

.topBar {
    display: flex;
    justify-content: right;
    padding: 2.5%;
    background-color: #26233a;
}

.topButton {
    background-color: #f6c177;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.875%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.bottomBar {
    display: flex;
    justify-content: center;
    min-height: 90vh;
}

.footer {
    margin-top: auto;
}

a:any-link {
    color: #31748f;
}

a:visited {
    color: #26233a;
}

a:hover {
    color: #c4a7e7;
    text-decoration-line: none;
}

@media screen and (max-width: 600px) {
    section {
        flex-direction: column;
    }
    .mainButton {
        margin-left: 0%;
        margin-top: 5%;
        width: auto;
    }
}