body {
    background-color: #e0def4;
    margin: 0;
}

.topBar {
    display: flex;
    justify-content: right;
    background-color: #26233a;
    padding: 2.5%;
    gap: 2rem;
    list-style: none;
}

.topButton {
    background-color: #f6c177;
    border-radius: 25px;
    padding: 0.875%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-family: roboto;
}

main {
    display: flex;
    flex-direction: row;
}

.sideMenuExpanded {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    background-color: #f6c177;
    border-radius: 0px 15px 15px 0px;
    width: 250px;
    height: 500px;
}

.centerWrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

.popIN {
    font-size: 2rem;
    background-color: #26233a;
    color: #f6c177;
    border-radius: 0px 15px 15px 0px;
}

.popIN:hover {
    color: #c4a7e7;
}

.popOUT {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    background-color: #26233a;
    color: #f6c177;
    border-radius: 0px 15px 0px 0px;
    width: 250px;
    height: auto;
}

.popOUT:hover {
    color: #c4a7e7;
}

.noteList {
    list-style-type: none;
}

.createWrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

.createButton {
    font-size: 2rem;
    background-color: #26233a;
    color: #f6c177;
    border-radius: 15px 15px 15px 15px;
    margin-top: 2rem;
}

.createButton:hover {
    color: #c4a7e7;
}

label {
    display: -moz-box;
}

textarea {
    background-color: #26233a;
    color: #f6c177;
}

.innerWrap {
    width: 100%;
}

.commandWrap {
    display: flex;
    justify-content: right;
    column-gap: 2rem;
}

.commandButton {
    font-size: 2rem;
    background-color: #26233a;
    color: #f6c177;
    border-radius: 5px 5px 5px 5px;
}

.commandButton:hover {
    color: #c4a7e7;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #f6c177;
    width: 100%;
    position: absolute;
    bottom: 0;
}

button,
footer,
.noteList {
    font-size: 1rem;
    font-family: roboto;
    gap: 1rem;
}

a:any-link {
    color: #26233a;
    text-decoration-line: none;
}

a:visited {
    color: #26233a;
}

a:hover {
    color: #c4a7e7;
    text-decoration-line: none;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
    .centerWrap {
        justify-content: left;
    }
    .popOUT {
        width: 100%;
        border-radius: 0%;
        height: 60px;
    }
    .sideMenuExpanded {
        width: 100%;
        border-radius: 0%;
        height: auto;
        border-bottom: 0.5rem solid #26233a;
    }
}